/*
--------------------------------- 
        Global
---------------------------------

*/
html{
    max-height: 100vh;
    background-size: 100%;
    color: white;
}
a{
    text-decoration: none;
}
#root{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 4fr;
  grid-template-areas:
  "header header header header header"
  "main main main main sideBar"
  
}
/*
--------------------------------- 
        Header
---------------------------------

*/

.header{
    backdrop-filter: blur(10px) opacity(0.7);
    text-align: center;
    padding: 30px;
    grid-area: header;
}
/*
--------------------------------- 
        SideBar
---------------------------------

*/

.sideBar{
    grid-area: sideBar;
    text-align: center;
    backdrop-filter: blur(10px) opacity(0.7);
}
.sideBar a{
    color: white;
}
.event .name{
    font-size: 1.5vw;
}
.event{
    text-align: center;
}
.event span{
    font-size: 0.9vw;
}
.settingsButton{
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    
    font-size: 32px;
    text-decoration: none;
    transition: transform 2s;

}
.settingsButton:hover{
    color: gray;
    transform: rotate(360deg);
}
/*
--------------------------------- 
        Settings
---------------------------------

*/
.settings{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.settingsBody{
    flex: 12;
}
.settingsHeader{
    flex: 1;
    vertical-align: middle;
}
.navbar{
    flex: 1;
    background-color: black;
    grid-area: settingsNavBar;
    bottom: 0px;
    
    
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.navbar a{
    padding: 5px;
    color: gray;
}
.navbar a:hover{
    background-color: rgba(24, 24, 24, 0.664);
}
.navbar .active{
    border-top: white solid 3px;
    color: white;
}
.availableWallpapers img{
    width: 5vw;
}
.availableWallpapers{
    margin: 0px 15px;
}
.settingsReturn{
    
    font-size: 1.7vw;
    float: left;
}
.saveSettingsContainer{
    display: grid;
    
}
.saveSettings{
    flex: 0.5;
    justify-self: center;
    background-color: rgb(59, 59, 59);

    
    padding: 0.5vw;
    cursor: pointer;
    
}


/*
--------------------------------- 
        Main
---------------------------------

*/
.main{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-area: main;
    padding: 2vw;
    
}
.quickAccessItem img{
    float: bottom;
}


.quickAccessItem{
    justify-self: center;
    align-self: baseline;
    text-align: center;
    color: white;
    text-decoration: none;
    
}
.quickAccessItem:hover{
    background-color: rgba(128, 128, 128, 0.719);
    
}
.quickAccessItem ul{
    list-style: none;
    padding-left: 0;
    padding: 10px;
    
}

