/*
--------------------------------- 
        Global
---------------------------------

*/


html {
    max-height: 100vh;
    background-size: 100%;
    color: white;
}

a {
    text-decoration: none;
}

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "header header header header header"
        "main main main main sideBar"

}

input[type=text] {
    background-color: transparent;
    color: white;
    border: solid rgb(59, 59, 59);
    width: 90%;
    padding: 0.3vw;
}

input[type=text]:hover {
    background-color: rgba(99, 98, 98, 0.212);
}

.checkBox {
    position: absolute;
    visibility: hidden;
}

.checkLabel>span {
    vertical-align: middle;
    margin: 1vw;
}

.checkLabel>div {
    border: rgb(59, 59, 59) solid;
    width: 0.8vw;

    height: 0.8vw;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    font-size: 0.65vw;
    font-weight: bold;
}

.checkLabel>div:hover {
    background-color: rgba(99, 98, 98, 0.212);
}

.checkBox:checked+.checkLabel>div::after {
    content: "✓"




}

.uploadFile {
    visibility: hidden;
    position: absolute;
}

.uploadFileLabel {
    width: 60%;
    margin: 0.5vw 2vw !important;
    padding: 0.3vw;

    display: inline-block;
    border: rgb(59, 59, 59) solid;
    cursor: pointer;


}

.uploadFileLabel:hover {
    background-color: rgba(99, 98, 98, 0.212);
}

button {
    background-color: transparent;
    color: white;
    padding: 0.5vw 0.7vw;
    border: rgb(59, 59, 59) solid;
    cursor: pointer;
    font-size: 0.8vw;
    font-weight: bold;
}

button:hover {
    background-color: rgba(99, 98, 98, 0.212)
}

/*
--------------------------------- 
        Header
---------------------------------

*/

.header {
    backdrop-filter: blur(10px) opacity(0.7);
    text-align: center;
    padding: 30px;
    grid-area: header;
}

/*
--------------------------------- 
        SideBar
---------------------------------

*/

.sideBar {
    grid-area: sideBar;
    text-align: center;
    backdrop-filter: blur(10px) opacity(0.7);

    height: 100%;
    overflow: hidden;

}

.settingsButton {
    position: absolute;
    bottom: 1vw;
    right: 2vw;

    font-size: 32px;
    text-decoration: none;
    transition: transform 2s;

}

.settingsButton:hover {
    color: gray;
    transform: rotate(360deg);
}

.generalSettings * {
    margin: 10px;
}

/*
--------------------------------- 
        Settings
---------------------------------

*/
.settings {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.settingsBody {
    flex: 12;
    margin: 0 1vw;
    overflow: auto;
}

.settingsHeader {
    flex: 0.5;

}

.navbar {
    flex: 1;
    background-color: black;
    grid-area: settingsNavBar;
    bottom: 0px;



    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navbar a {
    padding: 5px;
    color: gray;
}

.navbar a:hover {
    background-color: rgba(24, 24, 24, 0.664);
}

.navbar .active {
    border-top: white solid 3px;
    color: white;
}

.availableWallpapers img {
    width: 5vw;
    cursor: pointer;
}

.availableWallpapers {
    margin: 0px 15px;
}

.settingsReturn {
    flex: 0.1;
}

.settingsReturn a {

    font-size: 1.7vw;
    float: left;
}

.saveSettingsContainer {
    display: grid;

}

.saveSettings {
    flex: 0.5;
    justify-self: center;
    background-color: rgb(59, 59, 59);


    padding: 0.5vw;
    cursor: pointer;
    margin: 0 !important;

}

.sidebarSettings {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebarSettings div {
    flex: 1;
}

.select {
    margin: 0.5vw;
}

/*
--------------------------------- 
        Edit Quick Access item
---------------------------------
*/

.editQuickAccessItem .settingsBody * {
    margin: 0.5vw 0;
}

.deleteItem {
    background-color: #dc3545 !important;
}

.deleteOptions div {
    display: inline-block;
    width: 48%;
    padding: 1%;
    cursor: pointer;
    user-select: none;
    margin-top: 7px;
}

.deleteOptions .no {
    float: left;
    background-color: #28a745;

}

.deleteOptions .yes {
    float: right;
    background-color: #dc3545;
}


/*
--------------------------------- 
        Main
---------------------------------

*/
#automaticIcon {
    margin-top: 0.5vw;
}

.main {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: main;
    padding: 2vw;

}

.quickAccessItem img {
    float: bottom;
}


.quickAccessItem {
    justify-self: center;
    align-self: baseline;
    text-align: center;
    color: white;
    text-decoration: none;

}

.quickAccessItem:hover {
    background-color: rgba(128, 128, 128, 0.719);

}

.quickAccessItem ul {
    list-style: none;
    padding-left: 0;
    padding: 10px;

}

.quickAccessItem img {
    width: 3.6vw;
    background-color: transparent;

}

/*
--------------------------------- 
        Calendar
---------------------------------

*/
.calendar h1, .toDo h1{
    
}
.events{
    margin-bottom: 4%;
    
}
.events,
.tasks {
    height: 63%;
    overflow: auto;
    position: relative;



}
.calendar, .toDo{
    height: 45%;
    
}


.events::-webkit-scrollbar,
.tasks::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(59, 59, 59, 0.486);


}

.events::-webkit-scrollbar-thumb,
.tasks::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 25%;
}

.sideBar a {
    color: white;
}


.event {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 3%;
    position: relative;
    
}

.event:hover {
    background-color: rgb(41, 41, 41);
}

.event span {
    font-size: 0.8vw;
}
.event .name {
    font-size: 1.2vw;
}

.hamburgerMenu {

    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    user-select: none;

}

.bar1,
.bar2,
.bar3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: 0.4s;
    margin: 3px;

    background-color: transparent;
}

.event:hover>div div {
    background-color: white;
}

.event .edit {
    background-color: #28a745;

}

.event .delete {
    background-color: #dc3545 !important;
}

.event .delete,
.event .edit {
    width: 80%;
    border: solid 1px rgb(59, 59, 59);
    margin: 2px;
}
.calendar h1{
    margin-top: 0;
}
/*
--------------------------------- 
        ToDo- List
---------------------------------

*/
.toDo button{
    margin-top: 1vw;
}
.task {
    border: solid black;


    padding: 3%;
    background-color: rgba(117, 117, 117, 0.685);

    transition: 0.6s;
    position: relative;

}

.task label>div {
    position: absolute;
    top: 28%;
    left: 0.4vw;
    margin-top: 0;
    

}

.task .delete{
    position: absolute;
    right: 0.4vw;
    top: 25%;
    color: #dc3545;
    font-weight: bold;
    font-size: 0.9vw;
    user-select: none;
    cursor: pointer;
}

.task:nth-child(even) {
    background-color: rgba(43, 43, 43, 0.685);

}
.lineThrough{
    transition: 0.8s;
    position: absolute;
    left: 2vw;
    background-color: rgba(187, 187, 187, 0.705);
    width: 0%;
    height: 10%;
    top: 50%;
}
.checkBox:checked ~ .lineThrough{
    width: 80% !important;
}
/*
--------------------------------- 
        Add Event
---------------------------------

*/
.addEvent span{
    margin-right: 10px;
}

/*
--------------------------------- 
          <Pick Date>
---------------------------------
*/
.pickDate table{
    user-select: none;
    
}
.pickDate table{
    border-collapse: collapse;
    width: 100%;
}

.pickDate .empty{
    background-color: #0e0d0d;
}
.pickDate td{
    padding: 10px;
}
.pickDate .day{
    background-color: #1f1f1fbd;
    cursor: pointer;
}
.pickDate .day:hover{
    background-color: #3f3f3fab;
}
/* .pickDate th:nth-last-child(1),.day:nth-last-child(1){
    color: red;
} */
.pickDate th:nth-last-child(1){
    color: red;
}
.pickDate th:first-child, .day:first-child{
    color: red;
}
.pickDate .clicked{
    background-color: blue;
}
#dateHeader{
    width: 100%;
    text-align: center;
}
#dateHeader #month{
    width: 50%;
    display: inline-block;
    font-size: 30px;
}
#dateHeader button{
    display: inline;
}
#dateHeader #year{
    font-size: 24px;
    width: 20%;
}
/*
--------------------------------- 
          </Pick Date>
---------------------------------
*/